<html>
<head>
<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}
.page-content {
    max-width: 40em;
    margin: 2em auto;
}
.qrcode {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}
.qrcode > svg {
    width: 100%;
    height: 100%;
}
.debug-info {
    font-family: monospace;
    font-size: 0.8em;
    color: #666;
}
</style>
</head>
<body>

<div class="page-content">
{% block content %}{% endblock content %}
</div>
</body>
</html>
