{% extends "ablage/base.html" %}
{% block content %}
<h1>Ablage demonstration</h1>

<div id="step0">
    <p>Dies ist eine Demonstration der Wallet-Integration. Klicken Sie hier, um Daten aus dem Wallet abzurufen:</p>
    <button onclick="fetchData()">Daten abrufen</button>
</div>

<div id="step1" style="display: none">
<p>Scanne diesen QR-Code, um dich mit der Ablage zu verbinden.</p>
<div id="qrcode" class="qrcode">Loading...</div>

{% comment %} <form>
    <input type="button" value="Check acceptance" onclick="checkAcceptance()"/>
</form> {% endcomment %}

<form action="clearSession" method="POST">
    <input type="submit" value="Clear session and get a new QR code" />
    {% csrf_token %}
</form>

</div>

<div id="step2" style="display: none">
<p>Step 2 will be displayed here</p>
<p>Connection accepted. Data transmitted:</p>
<div id="user_data"></div>

<form action="clearSession" method="POST">
    <input type="submit" value="Start over" />
    {% csrf_token %}
</form>

</div>

<p class="debug-info">Template ID: <span id="templateId"></span></p>

<script language="javascript">
    let intervalId = null;
    async function fetchData() {
        showStep(1);
        let response = await fetch('/ablage/api/connectionCode');
        let data = await response.json();
        // take the string here and create an svg element from it inside the element #qrcode
        let svgsource = data['svgsource'];
        let qrcode = document.getElementById('qrcode');
        qrcode.innerHTML = svgsource;
        document.getElementById('templateId').innerText = data['templateId'];

        // Call checkAcceptance every 2 seconds, save the interval id

        intervalId = setInterval(checkAcceptance, 2000);
    }

    async function checkAcceptance() {
        let response = await fetch('/ablage/api/checkAcceptance');
        let data = await response.json();
        
        if (data['status'] == 'accepted') {
            // Accept the relationship. TODO: do on server side
            let response2 = await fetch('/ablage/api/acceptRelationship');
            let data2 = await response2.json();

            // Get the current user data
            let response3 = await fetch('/ablage/api/userData');


            let userDataElem = document.getElementById('user_data');
            let { peerId, attributes } = await response3.json();
            
            // attributes is key: value
            // add a table with the attributes to userDataElem
            let table = document.createElement('table');
            for (let key in attributes) {
                let tr = document.createElement('tr');
                let td1 = document.createElement('td');
                let td2 = document.createElement('td');
                td1.innerText = key;
                td2.innerText = attributes[key];
                tr.appendChild(td1);
                tr.appendChild(td2);
                table.appendChild(tr);
            }
            userDataElem.innerHTML = '';
            userDataElem.appendChild(table);

            showStep(2);
            clearInterval(intervalId);

            //userDataElem.innerHTML = JSON.stringify(data['userData']);
        }
        
    }

    function showStep(step) {
        let step0 = document.getElementById('step0');
        let step1 = document.getElementById('step1');
        let step2 = document.getElementById('step2');
        step0.style.display = (step == 0 ? 'block' : 'none');
        step1.style.display = (step == 1 ? 'block' : 'none');
        step2.style.display = (step == 2 ? 'block' : 'none'); 
    }

</script>

{% endblock content %}
